HTML, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #ede0ff;
}

a {
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

h3, h2, p {
    font-family: "Schoolbell";
    font-weight: 400;
}

h1 {
    font-family: "Schoolbell";
    font-weight: 400;
    font-size: 8vh;
    font-style: normal;
    text-align: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10vw;
    padding: 2vh 0 2vh 0;
    position: sticky;
    top: 0;
    background-color: #ede0ff;
}
.pagecontent {
    margin-top: 4vh;
}

.navitem {
    font-family: "Schoolbell", cursive;
    font-weight: 400;
    font-size: 3.5vh;
    cursor: pointer;
    text-align: center;
}

.gridvert {
    grid-template-columns: 30% 30% 30%;
    gap: 3% 3%;
    justify-content: center;
    margin-bottom: 10vh;
    display: grid;
    height: auto;
}

.gridhor {
    grid-template-columns: 47% 47%;
    gap: 3% 2%;
    justify-content: center;
    display: grid;
    margin-bottom: 4%;
}

#fashnav {
    text-decoration: underline;
}

.header {
    margin: 2% 0 2% 0;
    text-align: center;
}

#about, #published {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 15vh;
}

#aboutphoto {
    max-width: 40vw;
}